@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-50: var(--brand-50);
  --color-brand-100: var(--brand-100);
  --color-brand-500: var(--brand-500);
  --color-brand-600: var(--brand-600);
  --color-brand-900: var(--brand-900);
  --color-success: var(--success);
  --color-danger: var(--danger);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  /* Enforcing Neo-Fintech Dark Mode by default */
  --background: #020617;
  /* slate-950 (Deepest Dark) */
  --foreground: #f8fafc;
  /* slate-50 */

  --brand-50: #1a2e05;
  /* lime-950/20 */
  --brand-100: #365314;
  /* lime-900 */
  --brand-500: #a3e635;
  /* lime-400 (Neon) */
  --brand-600: #84cc16;
  /* lime-500 */
  --brand-900: #f7fee7;
  /* lime-50 */

  --success: #34d399;
  /* emerald-400 */
  --danger: #fb7185;
  /* rose-400 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}